<div class="container">
<div>
<h1>Add a new restaurant</h1>
</div>
<br>
<div>
  <%= form_for(@restaurant) do |f| %>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <%= f.label :address %>
    <br>
    <%= f.text_field :address %>
    <br>
    <%= f.label :phone_number %>
    <br>
    <%= f.text_field :phone_number %>
    <br>
    <%= f.label :category %>
    <br>
    <%= f.text_field :category %>
    <br>
    <br>
    <%= f.submit class: "btn btn-primary"%>
  <% end %>
</div>
<br>
<%= link_to 'Back to restaurant list', restaurants_path %>
</div>
