<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p>Address: <%= @restaurant.address %></p>
  <p>Phone number: <%= @restaurant.phone_number %></p>
  <p>Category: <%= @restaurant.category %></p>
  <br>
  <h5>Reviews (rating)</h5>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content%> (<%= review.rating %>/5)</li>
    <% end %>
  </ul>
  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
  <br>
  <br>
  <%= link_to 'Back', restaurants_path %>
</div>
