<div class="container">

  <div class="d-flex justify-content-between align-items-center py-3">
    <h1><%= @restaurant.name %></h1>
    <div class="text-end">
      <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
    </div>
  </div>

  <div class="pb-3">
    <p>Category: <%= @restaurant.category.capitalize %></p>
    <p>Address: <%= @restaurant.address %></p>
    <p>Phone number: <%= @restaurant.phone_number %></p>
  </div>

  <div class="pb-3 mb-3">
    <h5>Reviews (rating)</h5>
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item"><%= review.content%> (<%= review.rating %>/5)</li>
      <% end %>
    </ul>
  </div>

  <%= link_to 'Back', restaurants_path %>

</div>
